<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key ="conString" value="Data Source=(LocalDb)\LocalDBFlashcards;Initial Catalog=Flashcards;Integrated Security=True;Pooling=False"/>
	</appSettings>
</configuration>